.body{

  color: snow;
}

.App {
  display: inline-block;
  min-height: 100%;
  height:100%;
  width: 100%
}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .diceImages{*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*  .diceImages1{*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dice {
  position: absolute;
  top: 20%;

  margin-left: 560px;
  overflow: hidden;


  /*width: 400px;*/
  /*height: 280px;*/

}

.diceImages{
  max-height: 80px;
  max-width: 80px;
  width: 100%;
  border: solid red 1px;

}

.diceImages {
  max-height: 80px;
  max-width: 80px;
  width: 100%;
  height: 100%;
  border: solid black 1px;


}

.diceImages1{
  max-height: 100px;
  max-width: 100px;
  width: 100%;
  height: 100%;
  padding: 29px  10px 10px 10px;
  animation-name: dices;

}


@keyframes  rotate-scale-up-diag-2{
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    opacity: 1;
  ;
  }
  50% {
    transform: scale(1.4) rotate3d(-1, 1, 0, 60deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    opacity: 1;

  }
}







.monopolyMan{
  max-height: 150px;
  max-width: 150px;
  width: 100%;
  border: solid transparent 1px;
  margin-left: 250px;

}


.players {
  position: absolute;
  top: 39%;
  margin-left: 68%;
  /*background-color: transparent;*/

  transition: transform .2s;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.propertyList {

  color: black;
  font-family: Verdana;
  padding: 1px;
  text-align: center;
}


@keyframes mymove {
  50% {background-color: darkred;}
}

.highlighting {
  color: #ff0000;
}


/*.monopolyTitle {*/
/*  display: inline-block;*/
/*  font-weight: 300;*/
/*  -webkit-transform: scale(2, 1);*/
/*  margin: 15px;*/
/*  color: white;*/
/*  padding-left: 70px;*/
/*  padding-right: 70px;*/
/*  transform: rotate(-20deg);*/
/*  z-index: 5;*/
/*}*/


.monopolyTitle {

  display: flex;
  position: fixed;
  font-weight: 300;
  margin: -58px;
  color: white;
  transform: rotate(-34deg);
  font-size: 120px;
  right: 30%;
  top: 46%;
  animation-name: monopolyTitle;
  /*animation: shake 0.5s;*/

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;

}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



.chance {
  max-height: 40px;
  max-width: 60px;
  margin-top: 2%;
}

.goToJail {

  max-height: 90px;
  max-width: 80px;
  align-items: center;
  display: flex;
  margin-top: 5px;
  margin-left: 30%;
}

.jail {

  max-height: 50px;
  max-width: 100px;
  margin-right: 1px;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;

}

.freeParking{

  max-height: 60px;
  max-width: 80px;
  display: flex;
  margin-left: 23%;
  margin-top: 16px;
  left: 1px;


}

.communityChest {
  max-height: 45px;
  max-width: 80px;
  transition: 0.3s;
  display: flex;
  margin-left: 30%;
  margin-top: 5px;




}

.station {
  max-height: 29px;
  max-width: 70px;
  margin-top: -48px;
  margin-right: 25px;
  margin-left: 66px;
  display: flex;
}

.go {
  max-height: 50px;
  max-width: 100px ;
  margin-top: 0.2%;
  display: flex;
  margin-left: 55px;
}

.purchaseButton{
  text-align: center;
  width: 87px;
  height: 50px;
  background-color: wheat;
  font-weight: bold;
  /*transition: transform .2s;*/
  border-radius: 20px;
  cursor: pointer;
  display:flex;
  margin:10px;
  align-items: center
}

.endTurnButton{
  text-align: center;
  width: 87px;
  height: 50px;
  background-color: wheat;
  font-weight: bold;
  /*transition: transform .2s;*/
  border-radius: 20px;
  cursor: pointer;

}

.purchaseButton :hover {
  transform: scale(1.1);
}




.playerInfoUI {
  width: 200px;
  /*height: 300px;*/
  position: absolute;
  text-align: center;
  top: 20%;
  margin-left: 15%;
  border-radius: 10px;
  background-color: seashell;
  border: solid  0.5px black;
  /* height: 300px; */
  padding-bottom: 20px
}
.cards{
  transition: transform .2s; /* Animation */
}

.cards:hover {
  transform: scale(1.1);
}

.playersInputForm {

  display: flex;
  align-items: center;
  border: solid 1px yellow;
  text-align: -webkit-center;

  margin-bottom: 20px;
  box-sizing: border-box;
  width:100%;
  overflow:auto;
  height:auto;
  border-radius: 32px;
  cursor: pointer;


}

.submitPlayersButton {


  background-color: darkolivegreen;
  border-radius: inherit;
  color: white;
  padding: 9px;
  font-weight: bold;
  cursor: pointer;
}





.add_Player_Button{
  background-color: darkolivegreen;
  color: white;
  font-weight: bold;
  width:  -moz-fit-content;
  padding: 15px;
  width: 90px;
  border-radius: 23%;
  margin-bottom: 10px;
  position: absolute;
  margin-top: auto;
  top: 9%;
  right: 9%;
  cursor: pointer;




}

.remove_Player_Button{

  background-color: darkred;
  color: white;
  padding: 5px;
  font-weight: bold;

  border-radius: 20%;
  margin-left: 10px;
  margin-right: auto;
  cursor: pointer;

}



